.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.maincontent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.thanksgiving{
    color: rgba(37, 219, 40, 0.685);
    font-weight: 700;
    font-size: 20px;
}